@import url('https://fonts.googleapis.com/css?family=Pacifico|Rock+Salt');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap")



html, body, section {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

body {
    color: #fff;
    text-align: center;
    margin: 0 0 0 0;
}

.xop-container {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    position: relative;
}

.article {
    height: 50%;
    width: 100%;
    margin: 0 0 0 0;
}



.xop-left {
    /*background: linear-gradient(rgba(0,0,0,0.85), rgba(255,255,255,0.10)), 
        url(../../images/zagreb.jpg);*/
    background-color: #ebebd3;
    margin: 0 0 0 0;
    height: 50%;
    border-bottom: 2px solid #083d77;
    padding-left: 3%;
}

.xop-right {
    /*background: linear-gradient(rgba(0,0,0,0.85), rgba(164,222,102, 0.10)),
        url(../../images/rovinj.jpg);*/
    background-color: #f4d35e;
    margin: 0 0 0 0;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 3%;
}


.xop-left h1 {
    font-family: 'Pacifico', cursive;
    color: #083d77;
    font-size: 2.5rem;
    margin: 0 0 0 0;
    text-align: left;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.xop-right h1 {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 2.5rem;
    color: #083d77;
    margin: 0 0 0 0;
    text-align: right;
    vertical-align: bottom;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

a:link {
    text-decoration: none;
}

#logo {
    height: 100px;
    width: 100px;
    /* center #circle inside #container */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}