<head>
    <link rel="stylesheet" type="text/css" href="/static/scripts/css/probaindex.css" />
    <script type="text/javascript" src="../static/scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/css/style.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<html>
<body>

    <div id="opt1search">
        <input id="datepicker" placeholder="Choose date" name="datum" />

        <style>
            :root {
                --litepickerDayIsStartBg: #F46710 !important;
                --litepickerMonthButtonHover: #F46710 !important;
                --litepickerDayColorHover: #F46710 !important;
                --litepickerDayIsInRange: #F8A63F !important;
                --litepickerDayIsEndBg: #F46710 !important;
            }
        </style>
    </div>
    <input type="submit">


    <script src="../static/scripts/js/probaindex.js"></script>
    <script src='https://code.jquery.com/jquery-3.1.1.slim.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
    <script src='https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.min.js'></script>

</body>
</html>
