<head>
    <link rel="stylesheet" type="text/css" href="/static/scripts/css/probaindex.css" />
    <script type="text/javascript" src="../static/scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/css/style.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<html>
<body>
    <div id="logo">
        <div id="logo_boja">
        </div>
        <div id="logo_donji">
            <img id="logo_slika" src="../static/images/gleen221.jpeg" />
        </div>
    </div>

  

        <div id="description">
            <p>Hi, welcome to <span style="color:#F46710">Gleen! {{name}} </span></p>
            <p>
                Gleen is an app created to help you choose the right time of the year to <span style="color:#F46710">
                    visit Croatia
                </span> using artificial intelligence to predict the weather.
                Whether you want to visit some of the most beautiful beaches in the world or want be a part of a winter in Zagreb,
                Gleen will give you an <span style="color:#F46710">overview of expected daily temperatures</span> so you can organize and pack for your holiday accordingly.
            </p>
            <p id="optionsp">To get started, please <span style="color:#F46710">choose one of the two options</span> listed below:</p>
        </div>


        


        <div class="container222" style="margin: 0 0 0 0; padding: 0 0 0 0;">
            <div style="color: #FFFFFF; text-decoration: none;">
                    <a href="{{ url_for('nesto1') }}" style="text-decoration:none; color: black">
                    <div onmouseover="changeOpacity1('.3')" onmouseout="changeOpacity1('1.0')" id="tonyopcija1">
                        <p><span style="color:#F46710">You know the</span></p>
                        <p><span style="color:#F46710">date</span> but want to</p>
                        <p style="margin-bottom:0;">choose the right destination...</p>
                    </div>
                    </a>
                    <a href="{{ url_for('nesto2') }}" style="text-decoration:none; color: black">
                    <div  onmouseover="changeOpacity2('.3')" onmouseout="changeOpacity2('1.0')" id="tonyopcija2">
                        <p>... or <span style="color:#F46710">you know</span></p>
                        <p><span style="color:#F46710">where you want to go</span></p>
                        <p style="margin-bottom:0;">but you are not sure when.</p>
                    </div>
                     </a>
              
            </div>
        </div>

       



    <script src="../static/scripts/js/probaindex.js"></script>
    <script src='https://code.jquery.com/jquery-3.1.1.slim.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
    <script src='https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.min.js'></script>

</body>
</html>
